<a href="https://colab.research.google.com/github/cjimenez275/Simulacion_Fisica/blob/main/2_funciones_bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 2
* Numpy
* Funciones
* Condicionales
* Bucles

## Numpy
Es una librería de contenido matemático

In [3]:
import numpy as np

In [4]:
z = np.pi
print(z)

3.141592653589793

In [5]:
print(np.sin(np.pi/6))

0.49999999999999994

## Funciones

In [ ]:
def saludo():
  print("Hola")

In [ ]:
saludo()

Hola

In [ ]:
def saludo(name):
  print("Hola", name)

In [ ]:
saludo("carlos")

Hola carlos

In [ ]:
def Hello(name, age):
  print(name, age)

In [ ]:
Hello("Carlos", 21)

Carlos 21

In [1]:
def suma(x, y):
  print(x + y)

In [2]:
suma(3, 7)

10

In [ ]:
import numpy as np
def vol(r, h):
  return np.pi*r**2*h

In [ ]:
print(vol(2, 3))

37.69911184307752

In [ ]:
# Calcula el precio con descuento de una prenda de valor x y descuento d
def precio(prenda, x, d):
  y = x - (d/100)*x
  print("El precio de la prenda", prenda ,"es:" , y)

In [ ]:
precio("pantalon", 60000, 20)

El precio de la prenda pantalon es: 48000.0

## Condicionales

In [ ]:
h = 5
if h>8:
  print("Mayor que 8")
else:
  print("Menor que 8")

Menor que 8

In [ ]:
h = 8
if h>8:
  print("Mayor que 8")
elif h == 8:
  print("Es igual a 8")
else:
  print("Menor que 8")

Es igual a 8

### Lógica

In [ ]:
# < menor
# > mayor
# <= menor o igual
# >= mayor o igual
# ==
# !=
# and  y
# or   o

In [ ]:
Name = "Carlos"
if Name[0] == "A":
  print("Su inicial es: ", "A")
elif Name[0] == "C":
  print("Su inicial es: ", "C")
elif Name[0] == "H":
  print("Su inicial es: ", "H")
else:
  print("Tu nombre es raro")

Su inicial es:  C

In [ ]:
print("Dime tu edad")
e = int(input())

Dime tu edad
44

In [ ]:

if e<18:
  print("No puedes ingresar, eres menor de edad")
elif e>=18 and e<30:
  print("Ve para la zona de regueaton")
elif e>=30 and e<40:
  print("Ve para la zona de Rock")
elif e>=40 and e<60:
  print("Ve para la zona de Tangos")
else:
  print("Ve a descansar")

Ve para la zona de Tangos

## Bucle while

In [ ]:
i = 2
while i < 5:
  print(i**2)
  i = i + 1
  print("Hello")

4
Hello
9
Hello
16
Hello

## Bucle for

In [ ]:
for i in range(3, 10):
  x = 2*i + 1
  print("Esto es x: ", x)

Esto es x:  7
Esto es x:  9
Esto es x:  11
Esto es x:  13
Esto es x:  15
Esto es x:  17
Esto es x:  19

In [ ]:
for i in range(5, 19, 3):
  print(i)

5
8
11
14
17

In [ ]:
L = ["Tomates", "Cebolla", "Papas"]
for n in L:
  print(n)

Tomates
Cebolla
Papas

In [ ]:
L = "abcdefghijklmnopqrstuvwxyz"
N = "carlos"
name = []
for i in L:
  if i == N[0]:
    name.append(i)
for i in L:
  if i == N[1]:
    name.append(i)
for i in L:
  if i == N[2]:
    name.append(i)
name

['c', 'a', 'r']

### Ejemplo: sumar elementos

In [6]:
x = 0
for i in range(0,101):
  x = i + x
print(x)

5050